<div class="container">

    <h4>Edit channel '{{displayName}}'</h4>

    <form class="single-entry" method="post" action="/channels/{{channelId}}">
        <div class="clearfix">
            <input type="text" id="input-add-alias" name="aliasName" autofocus
                   placeholder="Add new alias">
            <input type="submit" value="Add">
        </div>
        {{#each errors}}
            <div class="message error">
                {{msg}}
            </div>
        {{/each}}
    </form>

    <table>
        <thead>
        <tr>
            <th>Alias</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each alias}}
            <tr>
                <td>{{name}}</td>
                <td>
                    <form class="inline" method="post"
                          action="/channels/{{../channelId}}/alias/{{name}}?_method=DELETE">
                        <input class="button" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
