<div class="container">

    <h4>Channels ({{channels.length}})</h4>

    <form class="single-entry" method="post" action="/channels">
        <div class="clearfix">
            <input type="text" name="channelId" autofocus
                   placeholder="Add new channel">
            <input type="submit" value="Add">
        </div>
        {{#each errors}}
            <div class="message error">
                {{msg}}
            </div>
        {{/each}}
    </form>

    <table class="channels">
        <thead>
        <tr>
            <th class="play"></th>
            {{> tables/sortableColumnHeader table.columns.channelId}}
            {{> tables/sortableColumnHeader table.columns.timestamp}}
            {{> tables/sortableColumnHeader table.columns.game}}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each channels}}
            <tr>
                <td class="play">
                    <img class="logo" src="{{logoUrl}}"/>
                    <form class="inline" method="post" action="/channels/{{channelId}}/play">
                        <input class="icon play logo" type="image" src="/public/images/play-button-white.svg"
                               alt="Play">
                    </form>
                </td>
                <td>
                    <a href="https://www.twitch.tv/{{channelId}}">{{displayName}}</a>
                </td>
                <td>
                    {{formatTimestamp stream.timestamp}}
                </td>
                <td>
                    {{stream.game}}
                </td>
                <td class="actions">
                    <a class="button button-outline" href="channels/{{channelId}}">Edit</a>
                    <form class="inline" method="post" action="/channels/{{channelId}}?_method=DELETE"
                          onsubmit="return confirm('Do you really want to delete the channel \'{{channelId}}\'?');">
                        <input class="button button-outline" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
