<div class="container">

    <h4>Channels ({{channels.length}})</h4>

    <form class="single-entry" method="post" action="/channels">
        <div class="row">
            <input type="text"  name="channelId" autofocus
            placeholder="Enter new channel">
            <input class="button-primary" type="submit" value="Add">
        </div>
        {{#each errors}}
            <div class="row validation error">
                {{msg}}
            </div>
        {{/each}}
    </form>

    <table class="channels u-full-width">
        <thead>
        <tr>
            <th class="play"></th>
            <th>Channel</th>
            <th>URL</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each channels}}
            <tr>
                <td class="play">
                    <form class="inline" method="post" action="/channels/{{channelId}}/play">
                        <input class="icon play" type="image" src="/public/images/play-button.svg" alt="Play">
                    </form>
                </td>
                <td>{{channelId}}</td>
                <td>
                    <a href="https://www.twitch.tv/{{channelId}}">https://www.twitch.tv/{{channelId}}</a>
                </td>
                <td class="actions">
                    <a class="button" href="channels/{{channelId}}">Edit</a>
                    <form class="inline" method="post" action="/channels/{{channelId}}?_method=DELETE"
                          onsubmit="return confirm('Do you really want to delete the channel \'{{channelId}}\'?');">
                        <input class="button" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
